@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: #ffffff;
}
main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-weight: 400
}
h2 {
    color: #5d40fc;
    font-weight: 300;
}
p {
    font-weight: 300;
}
nav {
    font-weight: 300;
}

/**** IDs ****/
#main-container {
    margin-top: 10%;
    margin-bottom: 10%;
}
#nav-logo {
    width: 45px;
}
#intro-text {
    padding-top: 55px;
}
#prof-img-2 {
    display: none;
}
#prof-img-container:hover #prof-img-1 {
    display: none;
}
#prof-img-container:hover #prof-img-2 {
    display: block;
}
#resume-link {
    color: #5d40fc !important
}
#social-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
#social-container a svg{
    color: black;
    margin: 0 5px 0 5px;
}
#social-container a svg:hover {
    color: #5d40fc;
}
/**** Classes ****/
/* Navbar links */
.navbar a {
    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
/* Navbar links on mouse-over */
.navbar a:hover {
    color: #5d40fc !important;
}
a.dropdown-item {
    padding-left: 25px;
}
.dropdown-item:hover {
    color: #1e2125;
    background-color: #e9ecef;
}
.iwt{
    display:block;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #5d40fc !important;
    border: #5d40fc !important
}
.card-body {
    border-top: 2px solid #5d40fc;
}
.card-footer div a {
    color: #5d40fc !important;
}
.card {
    min-height: 410px
}
.divider-logo {
    width: 55px;
    margin: 0 50%;
    opacity: .5;
}

@media screen and (max-width: 576px) {
    .navbar a {
        padding: 10px 0;
      }
      a.dropdown-item {
        padding-left: 25px;
    }
}

